body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

.title {
	background-color: lightblue;
	text-align: center;
	font-size: 24px;
	padding: 10px;
	border-bottom: 1px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
}

.typebox {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 10px;
	background-color: #fff;
	border-top: 1px solid #ccc;
	border-radius: 10px;
}

.typebox input {
	height: 80%;
	width: 94%;
	padding: 10px;
	border: none;
	border-radius: 5px;
	border: 1px solid #ccc;
}

.typebox button {
	border: none;
	padding: 10px 15px;
	border-radius: 5px;
	cursor: pointer;
}

.chat-container {
	font-size : 30px;
}