body {
  background: #131314;
  background-attachment: fixed;
}
/* Bootstrap css */
.btn {
  font-size: 14px;
  padding: 6px 12px;
  margin-bottom: 0;

  display: inline-block;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;

  width: 120px;
  margin-top: 10px;
}
