body {
    background: #c8e8ea;
    background-attachment: fixed;
    height: 100vh;
}

/* Bootstrap css */

.btn {
    font-size: 14px;
    padding: 6px 12px;
    margin-bottom: 0;

    display: inline-block;
    text-decoration: none;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;

    width: 120px;
    margin-top: 10px;
    margin-bottom: 25%;
}

.homeNav {
    margin-left: 90px;
}

.brandName {
    display: none;
}

.nav-item {
    margin-top: 10px;
    margin-right: 40px;
    font-size: 20px;
}

.nav-link,
h7 {
    display: block;
}

h7,
p {
    margin-left: 10px;
}

.loginButton {
    margin-left: 20px;
}

.signUpButton {
    margin-left: 40px;
}

.title {
    margin-top: 1px;
    margin-left: 90px;
    font-size: 30px;
    height: 40px;
}

.navbar {
    background-attachment: fixed;
}

.nav-link {
    text-decoration: none;
    color: #333;
}

.home {
    margin-top: -300px;
    width: 50%;
}

p {
    font-size: 25px;
    color: #1c6fa1;
}

h7 {
    font-size: 40px;
    color: #f25e22;
}

.laptopImg {
    width: 35%;
    margin-left: 750px;
    margin-top: 60px;
}

/* Responsive for nav */
@media screen and (max-width: 1170px) {
    .nav-item {
        margin-right: 40px;
    }

    .homeNav {
        margin-left: 20px;
    }
}

/* Responsive for nav */
@media screen and (max-width: 1090px) {
    .laptopImg {
        margin-left: 700px;
    }

    .homeNav {
        margin-left: 40px;
    }

    .nav-item {
        margin-right: 30px;
    }
}

/* Responsive for nav */
@media screen and (max-width: 1060px) {
    .laptopImg {
        margin-left: 670px;
    }

    .homeNav {
        margin-left: 20px
    }

    .home {
        width: 55%;
        ;
    }
}

/* Responsive for nav */
@media screen and (max-width: 990px) {

    .navbar,
    .laptopImg {
        display: none;
    }

    .brandName {
        display: block;
        color: rgb(241, 163, 46);
        font-size: 50px;
        margin-left: 40%;
        margin-top: 20px;
    }

    .home {
        margin-top: 55px;
        width: auto;
    }
}

/* Responsive for tablets */
@media screen and (max-width: 800px) {
    .laptopImg {
        display: none;
    }

    .brandName {
        margin-left: 35%;
    }

    .home {
        margin-top: 55px;
        width: auto;
    }
}

/* Responsive for mobiles */
@media screen and (max-width: 400px) {
    .home {
        margin-top: 45px;
        width: auto;
    }

    .brandName {
        margin-left: 20%;
    }

    h7 {
        font-size: 200%;
        ;
    }

    p {
        font-size: 23px;
    }

    .btn {
        margin-bottom: 60%;
    }

    .loginButton {
        margin-left: 15px;
    }

    .signUpButton {
        margin-left: 55px;
    }
}