body {
  background: #131314;
  background-attachment: fixed;
}

/* Bootstrap css */

.btn {
  font-size: 14px;
  padding: 6px 12px;
  margin-bottom: 0;

  display: inline-block;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;

  width: 120px;
  margin-top: 10px;
  margin-bottom: 25%;
}

.homeNav {
  margin-left: 33vh;
}

.brandName {
  display: none;
}

.nav-item {
  margin-top: 10px;
  margin-right: 40px;
  font-size: 20px;
}

.nav-link,
h7 {
  display: block;
}

h7,
p {
  margin-left: 10px;
}

.loginButton {
  margin-left: 3vw;
}

.signUpButton {
  margin-left: 10vw;
}

.title {
  margin-top: 1px;
  margin-left: 90px;
  font-size: 30px;
  height: 40px;
}

.navbar {
  background-attachment: fixed;
}

.nav-link {
  text-decoration: none;
  color: #333;
}

.home {
  margin-top: -380px;
  width: 50%;
}

p {
  font-size: 22px;
  color: white;
}

h7 {
  font-size: 40px;
  background: linear-gradient(
    90deg,
    rgba(72, 148, 229) 35%,
    rgba(138, 121, 203) 50%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

h8 {
  font-size: 90px;
  background: linear-gradient(
    90deg,
    rgba(72, 148, 229) 0%,
    rgba(138, 121, 203) 70%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.laptopImg {
  width: 35%;
  margin-left: 790px;
  margin-top: 60px;
}

/* Responsive for nav */
@media screen and (max-width: 1170px) {
  .nav-item {
    margin-right: 40px;
  }
  .homeNav {
    margin-left: 20px;
  }
  .laptopImg {
    margin-left: 750px;
  }
  .home {
    margin-top: -360px;
  }
  h8 {
    font-size: 70px;
  }
}

/* Responsive for nav */
@media screen and (max-width: 1090px) {
  .laptopImg {
    margin-left: 680px;
  }

  .homeNav {
    margin-left: 40px;
  }

  .nav-item {
    margin-right: 30px;
  }
  .home {
    margin-top: -320px;
  }
  h8 {
    font-size: 60px;
  }
}

/* Responsive for nav */
@media screen and (max-width: 1060px) {
  .laptopImg {
    margin-left: 660px;
  }

  .homeNav {
    margin-left: 20px;
  }

  .home {
    margin-top: -300px;
    width: 55%;
  }
}

/* Responsive for nav */
@media screen and (max-width: 990px) {
  .navbar {
    display: none;
  }

  .brandName {
    display: block;
    background: linear-gradient(
      90deg,
      rgba(72, 148, 229) 0%,
      rgba(138, 121, 203) 30%
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
    margin-left: 36%;
    margin-top: 20px;
  }
  .laptopImg{
    margin-left: 620px;
  }

  .home {
    margin-top: -310px;
    width: 60%;
  }
  .loginButton{
    margin-left: 20px;
  }
  .signUpButton {
    margin-left: 20px;
  }
}

/* Responsive for tablets */
@media screen and (max-width: 800px) {
  .laptopImg {
    display: none;
  }

  .brandName {
    margin-left: 35%;
  }

  .home {
    margin-top: 55px;
    width: auto;
  }
}

/* Responsive for mobiles */
@media screen and (max-width: 400px) {
  .home {
    margin-top: 15px;
    width: auto;
  }

  .brandName {
    margin-left: 22%;
    font-size: 45px;
  }

  h7 {
    font-size: 200%;
  }

  p {
    font-size: 20px;
  }
  h8{
    font-size: 40px;
  }

  .btn {
    margin-bottom: 60%;
  }

  .loginButton {
    margin-left: 30px;
  }

  .signUpButton {
    margin-left: 60px;
  }
}
