.container,
div {
    text-align: center
}

#showPassword,
button {
    cursor: pointer
}

body {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: azure;
    padding: 20px;
    border-radius: 30px;
}

h1 {
    font-size: 50px
}

button,
input,
label {
    font-size: 20px
}

input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px
}

.emailInput {
    margin-top: 50px;
    margin-right: 40px;
    margin-left: 30px;
    margin-bottom: 55px;
    width: 76%;
}

.passwordInput {
    margin-bottom: 100px;
    width: 76%;
}

button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    transition: background-color .2s;
    width: 400px;
    margin-bottom: 10px;
}

button:hover {
    background-color: #0056b3
}

p {
    font-size: 16px;
    margin-top: 20px
}

a {
    text-decoration: none;
    color: #007bff
}

.showPassword {
    font-size: 15px;
}

/* Responsive for tablets */
@media screen and (max-width: 1280px) {
    .container {
        width: 100%;
    }

    .emailInput {
        margin-top: 30px;
        margin-right: 40px;
        margin-left: 30px;
        width: 76%;
    }
    
    .passwordInput {
        margin-bottom: 60px;
        width: 76%;
    }
    
    button {
        width: 360px;
    }
}

/* Responsive for tablets */
@media screen and (max-width: 800px) {
    .container {
        width: 45%;
        height: 70%;
    }

    .emailInput {
        margin-top: 30px;
        margin-right: 40px;
        margin-left: 30px;
        width: 76%;
    }
    
    .passwordInput {
        margin-left: 30px;
        margin-bottom: 60px;
        width: 76%;
    }
    
    button {
        width: 360px;
    }
}

/* Responsive for tablets */
@media screen and (max-width: 770px) {
    .container {
        width: 80%;
        height: 80%;
    }

    h1 {
        font-size: 30px;
    }

    .emailInput {
        margin-top: 45px;
        margin-left: 27px;
        margin-bottom: 70px;;
        width: 77%;
    }
    
    .passwordInput {
        margin-left: 20px;
        margin-bottom: 90px;
        width: 75%;
    }
    
    button {
        width: 280px;
    }
}

/* Responsive for mobiles */
@media screen and (max-width: 400px) {
    .container {
        width: 80%;
        height: 80%;
    }

    h1 {
        font-size: 30px;
    }

    .emailInput {
        margin-top: 45px;
        margin-left: 27px;
        margin-bottom: 70px;;
        width: 77%;
    }
    
    .passwordInput {
        margin-left: 20px;
        margin-bottom: 90px;
        width: 75%;
    }
    
    button {
        width: 280px;
    }
}